.header {
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
}

.header__link {
	display: block;
	width: 90px;
	height: 30px;
	background-color: greenyellow;
	color: black;
	font-size: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;

	&_active {
		background-color: aqua;
	}

	&:first-child {
		margin-right: 20px;
	}
}