$color-green: #4B9200;
$color-orange: #F9804B;
$color-yellow: #FFEE2E;
$color-orange-grad: #FED290;
$color-pink-grad: #FEBDAB;
$color-red: #D31414;
$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoky: #ABABAB;
$color-gray-light: #F1F3F2;
$color-frosted-glass-white: #FDFDFF;
$color-black: #000;
$color-white: #FFF;

// $text-color-main: black;
// $text-color-light: white;

// $font-size-main: 15px;